Source: libcalvin-perl
Section: perl
Priority: optional
Build-Depends:
 debhelper (>= 11),
 libconfig-simple-perl,
 libcurses-perl,
 libcurses-ui-perl,
 libdate-calc-perl,
 libdate-manip-perl,
 libfile-homedir-perl,
 libgetopt-long-descriptive-perl,
 libhash-merge-perl,
 libhtml-parser-perl,
 libmodule-build-perl,
 libjson-perl,
 libnet-remctl-perl,
 libperl6-slurp-perl,
 libyaml-perl,
 perl,
Maintainer: Jon Robertson <jonrober@eyrie.org>
Uploaders:
 Russ Allbery <rra@debian.org>,
Standards-Version: 4.1.4
Vcs-Git: https://git.eyrie.org/git/calvin/net-calvin.git
Vcs-Browser: https://git.eyrie.org/?p=calvin/net-calvin.git

Package: libcalvin-perl
Architecture: all
Depends:
 libconfig-simple-perl,
 libcurses-perl,
 libcurses-ui-perl,
 libdate-calc-perl,
 libdate-manip-perl,
 libfile-homedir-perl,
 libgetopt-long-descriptive-perl,
 libhash-merge-perl,
 libhtml-parser-perl,
 libjson-perl,
 libnet-remctl-perl,
 libperl6-slurp-perl,
 libyaml-perl,
 ${misc:Depends},
 ${perl:Depends},
Description: Calvin chatserver libraries and commands for Perl
 libcalvin-perl contains Perl libraries for the Calvin chatserver, along with
 multiple programs designed to create and analyze user logs created by the
 chatservers.
